:root {
    --text-color: #000000;
    --light-brand-color: #9524FF;
    --bold-brand-color: #5C00B3;
}

Form {
    font-family: "Montserrat", serif;
}
.individualDetails,
.contactDetails
 {
    margin-bottom: 20px;
   
}
.individualDetails .nameInput,
.contactDetails .emailInput
 {
    margin-right: 10px;
}
.individualDetails .nameInput input,
.individualDetails .companyInput input,
.contactDetails .emailInput input,
.contactDetails .numberInput input
 {
    border: 1px solid #121212;
    padding: 10px 10px;
    border-radius: 8px;
}
 
 
form .sponsor-btn {
    background-color: var(--light-brand-color);
    color: white;
    border-radius: 10px;
    padding: 15px 15px;
    margin-bottom: 230px;
}
@media (max-width: 900px) {
.individualDetails,
    .contactDetails {
        margin-bottom: 10px;

    }

    .individualDetails .nameInput,
    .contactDetails .emailInput {
        margin-right: 5px;
    }
        .individualDetails .nameInput input,
        .individualDetails .companyInput input,
        .contactDetails .emailInput input,
        .contactDetails .numberInput input {
            border: 1px solid #121212;
            padding: 10px 10px;
            border-radius: 8px;
        }
    
    
        form .sponsor-btn {
            
            padding: 5px 10px;
            margin-bottom: 230px;
        }
}