:root {
    --text-color: #000000;
    --brand-color: #9524FF;
}

.Welcome {
    font-family: "Montserrat", serif;
}
h1 {
    font-size: 55px;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 45px;
}
h5 {
    font-size: 18px;
}
