:root {
    --text-color: #000000;
    --light-brand-color: #9524FF;
    --mid-brand-color: #A649FF;
    --bold-brand-color: #5C00B3;
    --secondary-color: #EBE9ED;
}

.Welcome {
    font-family: "Montserrat", serif;
}
h1 {
    font-size: 55px;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 45px;
}
h5 {
    font-size: 18px;
}

.firstPage .firstP-section {
   
    background-image: url(/images/sectionOnePic.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 1040px 1220px;
    padding: 0;
    
}
.firstPage h5 {
    font-weight: 600;
    line-height: 22px;
    width: 822px;
   
    font-size: 11px;
    color: #000000;
    margin-top: 155px;
}
.firstPage h2 {
    font-weight: 700;
    width: 822px;
    font-size: 30px;
    color: var(--bold-brand-color);
}
.firstPage p {
    font-size: 15px;
    font-weight: 400;
    width: 514px;
   
    line-height: 36px;
    margin-top: 20px;
}
.firstPage .btn-branding {
    
    font-weight: 400;
    font-size: 20px;
    color: var(--light-brand-color);
    border-radius: 40px;
    border: 2px solid var(--light-brand-color);
    padding: 10px 20px;
}
.firstPage h6 {
    font-weight: 600;
    color: #6750A4;
    font-size: 11px;
    text-shadow: 0 4px 4px #00000040;
}
.firstPage .icons {
    max-height: 60px;
    margin-top: 135px;
}
.btn-branding .doubleArrow {
    max-height: 27px;
}
.firstPage .callToAction {
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 55px;
}
.firstPage h3 {
    font-size: 25px;
    font-weight: 700;
   
}
.firstPage .secondP-section {
    margin-left: 0;
    margin-right: 10px;
}

.firstPage .aboutFounder p {
    font-size: 15px;
    font-weight: 400;
    width: 496px;
    line-height: 28px;
    color: #8E8E93;
    margin: 30px 0;
}
.firstPage .aboutFounder .line {
    max-height: 385px;
    
}

.firstPage .aboutFounder .register-btn {
    color: white;   
    background-color: var(--mid-brand-color);
    border-radius: 40px; 
    font-size: 17px;
    font-weight: 600;
    padding: 10px 50px;
    margin-right: 30px;
}
.firstPage .aboutFounder .donate-btn {
    color: var(--mid-brand-color);
    border: 3px solid var(--mid-brand-color);
    border-radius: 40px;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 50px;
}
.firstPage .aboutFounder .firstLastPara {
    font-size: 14px;
    font-weight: 700;
    margin-top: 125px;
}

.secondPage h4 {
    margin-top: 430px;
    font-size: 23px;
    font-weight: 700;
    color: var(--bold-brand-color);
}
.secondPage h1 {
    font-weight: 700;
    width: 580px;
    height: 138px;
    color: #000000;
    margin-bottom: 0;
}
.secondPage p {
    font-weight: 400;
    width: 560px;
    height: 174px;
}
.secondPage .learn-btn {
    background-color: var(--light-brand-color);
    color: white;
    border-radius: 10px;
    padding: 15px 25px;
    margin-bottom: 230px;
}
.secondPage .secondPageContent {
    background-image: url(/images/sectionTwoPics.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 1300px 1157px;
    padding: 0;
}

.thirdPage h4 {
    font-weight: 700;
    color: var(--bold-brand-color);
    font-size: 24px;
}
.thirdPage h1 {
    margin-left: 395px;
    width: 489px;
    height: 138px;
    font-weight: 700;
}
.thirdPage .second-content .second-content-details {
    margin-left: 50px;
}
.thirdPage .second-content .title {
    font-weight: 700;
    font-size: 18px;
    padding-top: 10px;
}
.thirdPage .second-content p {
    font-weight: 400;
    color: #605668;
    margin-bottom: 0;
}
.thirdPage .second-content h5 {
    color: #605668;
    font-size: 14px;
    width: 516px;
   line-height: 1.5;
   margin-top: 10px;
   margin-bottom: 15px;
}
.fourthPage {
    background-image: url(/images/fourthPage-backgroundImage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: local;
}
.fourthPage  h2{
    color: var(--secondary-color);
    margin-top: 70px;
    font-size: 35px;
    font-weight: 700;
}
.fourthPage p {
    color: var(--secondary-color);
    font-weight: 400;
    line-height: 20px;
    margin-top: 140px;
}
.fourthPage .reg-btn {
    color: var(--mid-brand-color);
    border: 2px solid var(--mid-brand-color);
    border-radius: 40px;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 50px;
    margin-bottom: 70px;
}