:root {
    --text-color: #000000;
    --light-brand-color: #9524FF;
    --mid-brand-color: #A649FF;
    --bold-brand-color: #5C00B3;
    --secondary-color: #EBE9ED;
}

.Welcome {
    font-family: "Montserrat", serif;
}
.body {
    margin-top: 20px;
}

.firstPage .firstP-section {
   
    margin-top: 55px;
    
}

.firstPage h5 {
    font-weight: 600;
    line-height: 22px;
   
   
    font-size: 10px;
    color: #000000;
    
}
.firstPage h2 {
    font-weight: 700;
    
    font-size: 27px;
    color: var(--bold-brand-color);
}
.firstPage p {
    font-size: 15x;
    font-weight: 400;
    line-height: 36px;
    margin-top: 20px;
}
.firstPage .btn-branding {
    font-weight: 400;
    font-size: 20px;
    color: var(--light-brand-color);
    border-radius: 40px;
    border: 2px solid var(--light-brand-color);
    padding: 10px 20px;
}
.firstPage h6 {
    font-weight: 600;
    color: #6750A4;
    font-size: 12px;
    text-shadow: 0 4px 4px #00000040;
}
.firstPage .icons {
    max-height: 60px;
    margin-top: 100px;
}
.btn-branding .doubleArrow {
    max-height: 27px;
}
.firstPage .callToAction {
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 100px;
}
.firstPage h3 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
}


.firstPage .aboutFounder p {
    font-size: 15px;
    font-weight: 400;
    
    line-height: 28px;
    color: #8E8E93;
    margin: 25px 0;
}
.firstPage .aboutFounder .line {
       max-height: 405px;
}

.firstPage .aboutFounder .register-btn {
    color: white;   
    background-color: var(--mid-brand-color);
    border-radius: 40px; 
    font-size: 17px;
    font-weight: 600;
    padding: 10px 30px;
    margin-right: 30px;
}
.firstPage .aboutFounder .donate-btn {
    color: var(--mid-brand-color);
    border: 2px solid var(--mid-brand-color);
    border-radius: 40px;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 30px;
}
.firstPage .aboutFounder .firstLastPara {
    font-size: 11px;
    font-weight: 700;
    margin-top: 156px;
}

.secondPage h4 {
    margin-top: 310px;
    font-size: 25px;
    font-weight: 700;
    color: var(--bold-brand-color);
}
.secondPage h1 {
    font-weight: 700;
    font-size: 29px;
    color: #000000;
    margin-bottom: 20px;
}
.secondPage p {
    font-weight: 400;
    font-size: 16px;
   
}
.secondPage .learn-btn {
    background-color: var(--light-brand-color);
    color: white;
    border-radius: 10px;
    padding: 15px 25px;
    
}
.secondPage .secondPageContent {
    background-image: url(/images/sectionTwoPics.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100% 100%;
    width: 100%;
    height:900px;
    padding: 0;
}
.thirdPage {
    margin: 0;
    padding: 0;
}
.thirdPage h4 {
    font-weight: 700;
    color: var(--bold-brand-color);
    font-size: 24px;
}
.thirdPage h1 {
    font-size: 30px;
    text-align: center;
    
    font-weight: 700;
}

.thirdPage .second-content .title {
    font-weight: 700;
    font-size: 18px;
    padding-top: 10px;
}
.thirdPage .second-content p {
    font-weight: 400;
    color: #605668;
    margin-bottom: 0;
}
.thirdPage .second-content h5 {
    color: #605668;
    font-size: 14px;
    
   line-height: 1.5;
   margin-top: 10px;
   margin-bottom: 15px;
}
.fourthPage {
    background-image: url(/images/fourthPage-backgroundImage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: local;
}
.fourthPage  h2{
    color: var(--secondary-color);
    margin-top: 70px;
    font-size: 35px;
    font-weight: 700;
}
.fourthPage p {
    color: var(--secondary-color);
    font-weight: 400;
    line-height: 20px;
    margin-top: 140px;
}
.fourthPage .reg-btn {
    color: var(--mid-brand-color);
    border: 2px solid var(--mid-brand-color);
    border-radius: 40px;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 50px;
    margin-bottom: 70px;
}
.fifthPage {
    margin-top: 120px;
}
.fifthPage h3 {
    font-size: 35px;
    font-weight: 700;
    
}
.fifthPage p {
    color: #8E8E93;
    font-weight: 400;
    font-size: 19px;
}
.fifthPage .reg-btn-two {
    color: var(--mid-brand-color);
    border: 3px solid var(--mid-brand-color);
    border-radius: 40px;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 50px;
    margin-top: 30px;
    margin-bottom: 120px;
}
.sixthPage p {
    margin-top: 60px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;
}

.sixthPage h5 {
    font-weight: 600;
    font-size: 16px;
    margin: 20px 0;
}
.sixthPage .register-btn {
    color: white;
    background-color: var(--mid-brand-color);
    border-radius: 40px;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 50px;
    margin-right: 30px;
}
.seventhPage h3 {
    font-size: 35px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 40px;
}
.seventhPage .accordion {
    margin-bottom: 60px;
    font-size: 20px;
}
.seventhPage .accordion .accordion-item .accordion-header .accordion-button{
    
    font-weight: 600;
    color: #340066;
}
.seventhPage p {
    margin-bottom: 0;
}

.seventhPage .indication ul li {
    margin-right: 15px;
    float: right;
    display: block;
    list-style-type: none;
    color: var(--text-color);
    border: 3.06px solid #E2A7F7;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #FDF7FF;
    padding-top: 10px;
}
.seventhPage .indication ul li a{
    font-size: 24px;
    color: var(--text-color);
   
}
.footer h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
    
}
.footer .center-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer  .btn-branding {

     font-weight: 400;
     font-size: 20px;
     color: var(--light-brand-color);
     border-radius: 40px;
     border: 2px solid var(--light-brand-color);
     padding: 10px 20px;
     margin-bottom: 70px;
 }
 .footer .nav li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;

}
.footer .nav .nav-item .active {

    color: var(--brand-color);
}
.footer .footer-links {
    display: flex;
    justify-content: space-between;
}
.footer .footer-links .social-links {
    margin-top: 7px;
    padding: 0;
}
.footer .footer-links .social-links  li {
    border-radius: 50%;
    list-style-type: none;
    display: inline;
    
    margin-right: 10px;
    padding: 7px 10px;
    background-color: var(--light-brand-color) ;
}
.footer .footer-links .social-links li a {
    font-size: 16px;
    color: #FDF7FF;

}
@media (max-width: 900px) {
    .body {
        margin-top: 10px;
    }
    .firstPage  {
        margin-top: 30px;
        text-align: center;
    }
    .firstPage .firstP-section {
        margin-top: 0;
        
    }
    .firstPage h5 {
        font-size: 7px;
        margin-bottom: 0;
    }
    .firstPage h2 {
        font-size: 20px;

    }  
    .firstPage p {
         font-size: 13px;
         line-height: 24px;
         
    }
        .firstPage .btn-branding {
            font-weight: 400;
            font-size: 15px;
            padding: 5px 10px;
            font-size: 12px;
        }
        .firstPage h6 {
            font-size: 9px;
        }
        .btn-branding .doubleArrow {
            max-height: 20px;

}
        .firstPage .icons {
            max-height: 40px;
            margin-top: 40px;
                }
   .firstPage .callToAction {
       
       margin-bottom: 15px;
   }
   .firstPage .callToAction a {
    color: var(--text-color);
   }
   .firstPage h3 {
       font-size: 20px;

   }
   .firstPage .aboutFounder {
    display: block;
   }
   .firstPage .aboutFounder p {
       font-size: 12px;
       
       line-height: 20px;
       
       margin: 15px 0;
   }
   .firstPage .aboutFounder .register-btn {
       border-radius: 16px;
    border: 1px solid var(--light-brand-color);
       font-size: 12px;
       padding: 5px 10px;
       margin-right: 15px;
   }

   .firstPage .aboutFounder .donate-btn {
       border-radius: 16px;
    border: 1px solid var(--light-brand-color);
       font-size: 12px;
       padding: 5px 10px;
   }
   .secondPage {
    text-align: center;
   }
   .secondPage .secondPageContent {
       background-image: none;
       height: 450px;
        padding: 0;
   }
   .secondPage h4 {
       margin-top: 30px;
       font-size: 16px;
       margin-bottom: 10px;
          }

   .secondPage h1 {
       font-weight: 700;
       font-size: 12px;
       color: #000000;
       margin-bottom: 0;
   }

   .secondPage p {
       padding: 0;
       font-size: 12px;
        color: #8E8E93;
   }

   .secondPage .learn-btn {
       
    font-size: 12px;
       padding: 5px 10px;
       
   }
   .thirdPage h4 {
       font-weight: 700;
       color: var(--bold-brand-color);
       font-size: 16px;
   }

   .thirdPage h1 {
       font-size: 20px;
   }
   

   .thirdPage .second-content .title {
       
       font-size: 14px;
       padding-top: 5px;
   }
   

   .thirdPage .second-content h5 {
       
       font-size: 12px;
       
       line-height: 1.5;
       margin-top: 5px;
       margin-bottom: 10px;
   }
   .fourthPage h2 {
       
       margin-top: 40px;
       font-size: 16px;
       
   }

   .fourthPage p {
       font-size: 12px;
   }

   .fourthPage .reg-btn {
      
       border: 1px solid var(--mid-brand-color);
       border-radius: 20px;
    font-size: 12px;
       
       padding: 10px 20px;
       margin-bottom: 70px;
   }
   .fifthPage h3 {
    font-size: 16px;
   }
   .fifthPage p {
    font-size: 12px;
   }
   .fifthPage .reg-btn-two {
    border: 1px solid var(--mid-brand-color);
       border-radius: 20px;
       font-size: 12px;
       
       padding: 5px 10px;
       margin-top: 30px;
       margin-bottom: 80px;
   }
   .sixthPage {
    text-align: center;
   }
   .sixthPage p {
       margin-top: 40px;
       
       font-size: 12px;
       margin-bottom: 0;
   }
   .sixthPage h5 {
        color: #8E8E93;
    font-size: 12px;
       margin: 20px 0;
   }
   .sixthPage .register-btn {
    
    border-radius: 15px;
    font-size: 12px;
   
    padding: 5px 10px;
    
}
.seventhPage h3 {
    font-size: 16px;
   
    margin-top: 80px;
    margin-bottom: 20px;
}
.footer h3 {
   
    font-size: 14px;
    
    margin-top: 50px;

}
.footer .btn-branding {

   
    font-size: 12px;
    
    border-radius: 20px;
    border: 1px solid var(--light-brand-color);
    padding: 5px 10px;
    margin-bottom: 70px;
}
.footer .btn-branding .doubleArrow {
    max-height: 20px;
    
}
.footer .nav li a {
    font-size: 9px;
    
    
}
.footer .nav   {
    padding-top: 2px;
    padding-left: 0;
}

}